
@model taibaihat.Models.Song

<h2>@Model.FileName</h2>
<br />
<table>
    <tr>
        <td><audio controls><source src="@Url.Content("~/Content/Songs/" + Model.FileName)" type="audio/mpeg"></audio></td>
        <td><a href="@Url.Action("Download", "lethanhquan", new { id = Model.Id })" class="">Tải về</a></td>
    </tr>
</table>
