@{
    ViewBag.Title = "Lê Thanh Quan";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài Thi Giữa Kỳ của Lê Thanh Quan-cam kết không đạo văn</h3>

<address>
    CNTT2 - Môn lập trình ứng dụng web với công nghệ Asp.net MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="Thanhquan@gmail.com">Thanhquan@gmail.com</a><br />
    <strong>Cá nhân:</strong> <a href="quanlekrn01@gmail.com">quanlekrn01@gmail.com</a>
</address>